﻿html, body {
    height: 100%;
}

body {
    background-color: #f8f9fb;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-left: 100px;
    width: calc(100% - 115px);
    height: 100%;
    overflow: auto;
    padding: 20px 30px;
}

.body-content .container {
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.field-validation-error {
    color: red;
}

.inline-grid {
    display: inline-grid;
}

.like-color {
    color: #e0245e;
}

.padding-xs {
    padding: .25em;
}

.padding-sm {
    padding: .5em;
}

.padding-md {
    padding: 1em;
}

.padding-lg {
    padding: 1.5em;
}

.padding-xl {
    padding: 3em;
}

.padding-x-xs {
    padding: .25em 0;
}

.padding-x-sm {
    padding: .5em 0;
}

.padding-x-md {
    padding: 1em 0;
}

.padding-x-lg {
    padding: 1.5em 0;
}

.padding-x-xl {
    padding: 3em 0;
}

.padding-y-xs {
    padding: 0 .25em;
}

.padding-y-sm {
    padding: 0 .5em;
}

.padding-y-md {
    padding: 0 1em;
}

.padding-y-lg {
    padding: 0 1.5em;
}

.padding-y-xl {
    padding: 0 3em;
}

.padding-top-xs {
    padding-top: .25em;
}

.padding-top-sm {
    padding-top: .5em;
}

.padding-top-md {
    padding-top: 1em;
}

.padding-top-lg {
    padding-top: 1.5em;
}

.padding-top-xl {
    padding-top: 3em;
}

.padding-right-xs {
    padding-right: .25em;
}

.padding-right-sm {
    padding-right: .5em;
}

.padding-right-md {
    padding-right: 1em;
}

.padding-right-lg {
    padding-right: 1.5em;
}

.padding-right-xl {
    padding-right: 3em;
}

.padding-bottom-xs {
    padding-bottom: .25em;
}

.padding-bottom-sm {
    padding-bottom: .5em;
}

.padding-bottom-md {
    padding-bottom: 1em;
}

.padding-bottom-lg {
    padding-bottom: 1.5em;
}

.padding-bottom-xl {
    padding-bottom: 3em;
}

.padding-left-xs {
    padding-left: .25em;
}

.padding-left-sm {
    padding-left: .5em;
}

.padding-left-md {
    padding-left: 1em;
}

.padding-left-lg {
    padding-left: 1.5em;
}

.padding-left-xl {
    padding-left: 3em;
}

.margin-xs {
    margin: .25em;
}

.margin-sm {
    margin: .5em;
}

.margin-md {
    margin: 1em;
}

.margin-lg {
    margin: 1.5em;
}

.margin-xl {
    margin: 3em;
}

.margin-x-xs {
    margin: .25em 0;
}

.margin-x-sm {
    margin: .5em 0;
}

.margin-x-md {
    margin: 1em 0;
}

.margin-x-lg {
    margin: 1.5em 0;
}

.margin-x-xl {
    margin: 3em 0;
}

.margin-y-xs {
    margin: 0 .25em;
}

.margin-y-sm {
    margin: 0 .5em;
}

.margin-y-md {
    margin: 0 1em;
}

.margin-y-lg {
    margin: 0 1.5em;
}

.margin-y-xl {
    margin: 0 3em;
}

.margin-top-xs {
    margin-top: .25em;
}

.margin-top-sm {
    margin-top: .5em;
}

.margin-top-md {
    margin-top: 1em;
}

.margin-top-lg {
    margin-top: 1.5em;
}

.margin-top-xl {
    margin-top: 3em;
}

.margin-right-xs {
    margin-right: .25em;
}

.margin-right-sm {
    margin-right: .5em;
}

.margin-right-md {
    margin-right: 1em;
}

.margin-right-lg {
    margin-right: 1.5em;
}

.margin-right-xl {
    margin-right: 3em;
}

.margin-bottom-xs {
    margin-bottom: .25em;
}

.margin-bottom-sm {
    margin-bottom: .5em;
}

.margin-bottom-md {
    margin-bottom: 1em;
}

.margin-bottom-lg {
    margin-bottom: 1.5em;
}

.margin-bottom-xl {
    margin-bottom: 3em;
}

.margin-left-xs {
    margin-left: .25em;
}

.margin-left-sm {
    margin-left: .5em;
}

.margin-left-md {
    margin-left: 1em;
}

.margin-left-lg {
    margin-left: 1.5em;
}

.margin-left-xl {
    margin-left: 3em;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.nav-m2link {
    position: fixed;
    z-index: 1;
    overflow: hidden;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid grey;
    height: 100%;
    background-color: white;
    box-shadow: 0.2px 0px 4px #666;
}

.nav-m2link > li, .nav-m2link > li + li {
    margin: 10px;
}

.nav-m2link > li.active a, .nav-m2link > li.active a:hover {
    background-color: rgba(255, 69, 0, 0.2);
}

.nav-m2link > li a:hover {
    background-color: rgba(255, 69, 0, 0.1);
}

.nav-m2link > li a i {
    color: #f35824;
}

.nav-m2link > li a {
    width: 50px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.nav-m2link li a i {
    font-size: 1.5em;
}

.login-page-container, .register-page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.login-page-container > form, .register-page-container > form {
    max-height: 100%;
    max-width: 100%;
}

.login-container, .register-container, .users-container {
    width: 100%;
    border-radius: 4px;
}

.login-header, .register-header {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
}

.login-body, .register-body, .users-body {
    padding: 35px 10px 30px 10px;
    background-color: white;
    border-top: 10px solid #f35824;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-footer, .register-footer {
    padding-left: 12px;
}

.form-login, .form-register {
    width: 300px;
    max-width: 100%;
}

.form-login > .form-control, .form-register > .form-control {
    max-width: 100%;
}

.m2-button, .m2-button:focus {
    background-color: #f35824;
    color: white;
}

.m2-button:hover {
    background-color:#e43900;
    color: white;
}

.m2-input {
    border-radius: 4px;
}

.edit-photo-container, .edit-informations-container, .create-message-container, .profile-photo-container, .profile-informations-container, .help-container {
    background: white;
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-top: 6px solid #f35824;
    border-radius: 4px;
}

.create-message-container textarea {
    resize: none;
    max-width: 100%;
}

.edit-header, .create-message-header {
    margin: 5px 15px;
    font-size: 24px;
    color: #f35824;
    border-bottom: 2px solid #f35824;
}

.edit-body, .help-body {
    margin: 0 15px;
}

.profile-body {
    margin: 0 15px 15px 15px;
}

.create-message-body {
    margin-right: 15px;
}

.create-message-footer {
    text-align: right;
}

.user-create-message {
    display: flex;
    align-items: center;
}

.user-message-create-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.create-message-text {
    width: 100%;
}

.edit-photo-label {
    display: block;
}

.timeline-container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.timeline-container.loading .timeline {
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-container.loading .lds-ring {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-container.loading .timeline {
    display: none;
}

.timeline-container:not(.loading) .lds-ring {
    display: none;
}

.timeline-container .timeline {
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 20px;
}

.message-container {
    padding: 10px;
    background: white;
    border: 1px solid #e2e2e2;
    max-width: 500px;
    border-top: 6px solid #f35824;
    border-radius: 4px;
}

.message-container + .message-container {
    margin-top: 20px;
}


.message-header {
    display: flex;
    align-items: center;
}

.rounded-messages {
    border-radius: 50%;
    width: 50px;
}

.message-user-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.message-username {
    font-weight: bold;
}

.message-date {
    font-size: 12px;
    color: #666;
}

.message-body {
    margin-top: 10px;
}

.message-footer {
    border-top: 2px solid #e2e2e2;
    margin-top: 20px;
    padding-top: 10px;
}


.message-container-details {
    padding: 10px;
    background: white;
    border: 1px solid #e2e2e2;
    max-width: 500px;
    border-top: 6px solid #f35824;
    border-radius: 4px;
    font-size: 18px;
}

.message-container-details .message-date {
    font-size: 14px;
}


.user-liked-container {
    padding: 10px;
    background: white;
    border: 1px solid #e2e2e2;
    border-top: 6px solid #f35824;
    border-radius: 4px;
    max-width: 500px;
}

.card-user {
    display: flex;
    align-items: center;
}

.card-user + .card-user {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.card-user-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.card-user-username {
    font-weight: bold;
}

.card-user-date {
    font-size: 12px;
    color: #666;
}

.profile-infos td {
    padding: 6px;
}

.profile-infos tr + tr {
    border-top: 1px solid #eee;
}

.profile-label {
    font-weight: bold;
}

.followers-name {
    font-weight: bold;
    margin-left: 10px;
}


.followable {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffd60a;
    cursor: pointer;
}

.followable:hover {
    color: #ffd60a;
}

.followable.followed {
    color: #ffd60a;
}

.followable.followed:hover {
    color: white;
}

.like {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e0245e;
    cursor: pointer;
}

.details-icon {
    color: #f35824;
    cursor: pointer;
}

#logOut:hover {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.like:hover {
    color: #e0245e;
}

.like.liked {
    color: #e0245e;
}

.like.liked:hover {
    color: white;
}

.badge.badge-primary {
    background: #f35824;
}

.rounded-subscriptions {
    border-radius: 50%;
    width: 50px;
}


a i.fa.fa-eye {
    color: #f35824;
}

a i.fa.fa-eye:hover {
    color: #e43900; 
}

.paginate_button li a, .paginate_button.previous a, .paginate_button.next a
{
    color: #f35824 !important;
}

.paginate_button.active a, .paginate_button.active a:hover,
.paginate_button.active a:focus, .paginate_button.active a:active
{
    background: #f35824;
    border-color: #f35824;
}


.pagination > li > a, .pagination > li > a:hover,
.pagination > li > a:focus {
    color: #f35824;
}

.help-container {

}


.lds-ring {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    text-align: center;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #f35824 transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}