﻿@model MessageModel

@{
	ViewBag.Title = "Page d'aide";
}

<h2>Aide</h2>
<div class="help-container">
	<div class="help-body">
		<h3>Inscription et connexion</h3>
		<div>
			Lorsque vous n'êtes pas connecté, vous avez accès à une page d'inscription où vous pouvez renseigner vos informations ainsi qu'une photo de profil. Puis vous pouvez vous connecter,
			depuis l'icône de connexion avec vos identifiants.
		</div>
		<h3>Page d'accueil</h3>
		<div>
			Une fois connectée, vous accédez à la page d'accueil où vous pouvez, à votre gauche envoyer un nouveau message et à votre droite accéder à votre timeline constituant l'ensemble de vos messages
			et des messages des personnes que vous suivez.<br />
			Vous pouvez depuis cette timeline accéder aux détails d'un utilisateur en cliquant sur son pseudonyme, accéder aux détails du message en cliquant sur l'icône de loupe en dessous d'un
			message et aimer ou ne plus aimer un message en cliquant sur l'icône de coeur en dessous d'un message.
		</div>
		<h3>Liste des utilisateurs</h3>
		<div>
			Sur la page de liste des utilisateurs, vous retrouverez un tableau paginé (et triable) comportant l'ensemble des utilisateurs avec leurs informations ainsi qu'un champ de recherche. <br />
			Sur ce tableau, il y a également une colonne "Actions" où vous pouvez accéder aux détails d'un utilisateur en cliquant sur l'icône d'oeil et vous pouvez suivre ou ne plus suivre
			une personne en cliquant sur l'icône d'étoile (s'il s'agit de vous, il n'y aura pas un icône d'étoile mais un badge "C'est vous!").
		</div>
		<h3>Edition de profil</h3>
		<div>
			Sur la page d'édition de profil, vous pouvez modifier votre prénom, nom de famille, email, pseudonyme, description ainsi que votre photo de profil.
		</div>
		<h3>Détails d'un utilisateur</h3>
		<div>
			Sur la page de détails d'un utilisateur (profil), vous pouvez retrouver la photo de profil de l'utilisateur ainsi que toutes ses informations y compris son nombre d'abonnements.<br />
			En cliquant sur le nombre d'abonnements, une fenêtre modale s'ouvre comprenant la liste des utilisateurs auxquels l'utilisateur est abonné.<br />
			Finalement, vous pouvez voir tous les messages qu'il a écrit et, du même principe que sur la page d'accueil, vous pouvez aimer/ne plus aimer son message ou accéder aux détails du message.
		</div>
		<h3>Détails d'un message</h3>
		<div>
			Sur la page de détails d'un message, vous retrouverez en haut le message en question et en dessous la liste des personnes qui ont aimé le message (avec la date).<br />
			Vous pouvez également accéder au profil de chaque personne en cliquant sur leur pseudonyme.
		</div>
		<h3>Xamarin</h3>
		<div>
			<p>
				Nous avions rencontré beaucoup de problèmes pour cette partie (et également d'autres groupes ont rencontré les mêmes problèmes) puisque ce qui est expliqué
				dans l'énoncé du TP n'est pas d'actualité avec VS2019 qui utilise par défaut du HTTPS, nous avons donc dû effectuer des recherches afin de pallier à ces problèmes.<br />
				Généralement, lorsque nous lançons une application avec IIS, elle est accessible depuis <code>http://localhost:[port]</code> mais
				dans le but d'y accéder depuis une autre machine, il est nécessaire de lier l'adresse publique.
			</p>
			<p>
				Nous avons donc utilisé ce qui est indiqué sur <a href="https://johan.driessen.se/posts/Accessing-an-IIS-Express-site-from-a-remote-computer/">ce lien</a><br />
				Pour configurer cela, nous devons aller dans <code>[solution]/.vs/config/applicationhost.config.</code><br />
				Au niveau de l'élément bindings, on ajoute une nouvelle ligne :<br />
				<code>&lt;binding protocol="http" bindingInformation="*:[port]:[adresseIP]" /&gt;</code><br />
				On doit autoriser les connexions entrantes à l'application, on lance donc une invite de commande en mode administrateur puis on exécute
				les commandes suivantes :<br />
				<code>netsh http add urlacl url=http://[adresseIP]:[port]/ user="Tout le monde"</code> (et non <code>user=everyone</code> comme sur le lien car notre ordinateur est configuré en français)<br />
				<code>netsh advfirewall firewall add rule name="IISExpressWeb" dir=in protocol=tcp localport=[port] profile=private remoteip=localsubnet action=allow</code><br />
				Il ne faut pas oublier de démarrer VS2019 également en mode administrateur.
			</p>
			<p>
				Nous avons remarqué qu'une fois connecté à notre WebServices, la connexion peut ne pas être stable. Pour assurer cela au maximum, nous lançons le projet M2Link.Xamarin.Android et
				M2Link.WebSite en même temps grâce à VS. Ensuite, on place des points d'arrêts dans chaque méthode du WebService. Il semblerait que le fait de ralentir l'application grâce aux points
				d'arrêts rend l'application moins instable.
			</p>
			<p>
				Enfin pour démarrer les services, nous devions effectuer la commande suivante :<br />
				<code>svcutil /namespace:*,M2Link.Xamarin.WebServiceClients /async http://[adresseIP]:[port]/WebServices/[service].svc</code>
			</p>
			<p>
				Pour finir, à force de chercher et tester des solutions, nous avons rencontré des problèmes avec IIS qui ne fonctionnait plus comme souhaité,
				ce qui peut expliquer pourquoi le nom de Martin (Blondel) apparaît sur VS2019 Enterprise.
			</p>
		</div>
		<h3>Informations supplémentaires</h3>
		<div>
			<p>Nous avons réalisé une architecture en DDD ou Domain-Driven Design (une approche de la conception logicielle qui préconise, entre autres, de mettre le domaine métier au centre du développement logiciel).</p>
			<p>Enfin, pour le hachage des mots de passe, nous avons utilisé du SHA256 avec Salt.</p>
		</div>
	</div>
</div>

@section Scripts
{
}
