﻿@model MessageModel

@{
	ViewBag.Title = "Page d'accueil";
}

<div class="col-md-6">
		<h2>Nouveau message</h2>
		<div class="create-message-container col-md-9">
			<div class="create-message-body">
				<div class="user-create-message">
					<img class="user-message-create-img" src="" />
					<div class="form-group create-message-text">
						@Html.TextAreaFor(m => m.Content, new { id = "create-area",  @class = "form-control", @rows = "4" })
					</div>
				</div>
				<div class="create-message-footer">
					<button id="publish" class="btn m2-button">Publier</button>
				</div>
			</div>
		</div>
</div>
<div class="col-md-6 timeline-container loading">
	<h2>Timeline</h2>
		<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
	<div class="timeline">
	</div>
</div>

@section Scripts
{
	@Scripts.Render("~/bundles/home")
	@Scripts.Render("~/bundles/messages")
} 